* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    margin: auto;
    padding: 0 1ch;
    max-width: 80ch;
}

/* Header */

header {
    display: flex;
    align-items: center;
}

header img {
    height: 3rem;
    margin: 0.5rem;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    flex: 1 1;
}

/* Header links */

#nav {
    align-self: stretch;
    display: flex;
    height: 4rem;
}

.links {
    display: flex;
    background: #fff;
}

.links a {
    padding: 0 0.5em;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a:hover {
    background: hsla(8, 94%, 52%, 0.1);
}

.links a:active {
    background: hsla(8, 94%, 52%, 0.2);
}

/* Mobile hamburger menu */

.hamburger {
    display: none;
}

@media (max-width: 55ch) {
    #nav {
        flex-direction: column;
    }

    .hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 0 4rem;
    }

    .hamburger svg {
        height: 1.5rem;
    }

    .links {
        z-index: 10;
        flex-direction: column;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);

        height: 0;
        overflow: hidden;
    }

    #nav.open .links {
        height: auto;
        overflow: initial;
    }

    .links a {
        padding: 1rem 1ch;
    }
}

/* Main content */

h2 {
    border-left: 4px solid hsl(8, 94%, 52%);
    padding-left: 8px;
}

a {
    color: hsl(8, 94%, 50%);
}

a:hover {
    color: hsl(8, 100%, 60%);
}

a:active {
    color: hsl(8, 100%, 70%);
}

p {
    text-align: justify;
}

footer {
    padding: 2em;
    padding-left: 3em;
}

/* Dark Theme */

@media (prefers-color-scheme: dark) {
    body {
        color: #bbb;
        background: #232323;
    }

    a {
        color: hsl(8, 94%, 60%);
    }

    a:hover {
        color: hsl(8, 94%, 55%);
    }

    a:active {
        color: hsl(8, 94%, 50%);
    }

    .hamburger {
        fill: #aaa;
    }

    .links {
        background: #232323;
    }
}
